$mainGreen: #486860;
$mainGrey: #57534A;
$mainForest: #0B4A14;
$mainEarth: #847545;
$mainWater: #0063B1;
$twitterBlue: #0078D7;

$lightGreen: #567C73;
$lightGrey: #95989A;
$lightForest: #07941B;
$lightEarth: #7E735F;
$lightWater: #0084B4;
