$MainGreen: #486860;
$MainGrey :#57534A;
$MainForest: #0B4A14;
$MainEarth: #7E735F;
$MainWater: #0063B1;
$TwitterBlue: #0078D7;

$lightGreen: #567C73;
$lightGrey: #95989A;
$lightForest: #07941B;
$lightEarth: #7E735F;
$lightWater: #0084B4;
